
body{
    background-image: url('50 cent.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    position: absolute;
    top: 70%;
    left: 45%;

    width: 350px;
    height: 100px;

    font-size: 3em;
    
}